<div class="container">

  <div class="row">
    <div class="col-sm-12" align="center">
      <h1>Data Counter!</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 mb-3" align="center">
      <img src="../images/tallymarksSm.png" alt="tallies" class="homeHeader" height="80px">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h4>What is it?</h4>
      <p>Data counter enables researchers and volunteers to collaborate remotely to collect the data they care about.
        You can create your own project or get involved with one of the projects below</p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-12">
      <h4>Current Projects</h4>
    </div>
  </div>
          {{#if isConnected}}
            {{#each projects}}
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h5><a href="/project/{{this.project_id}}">{{this.projectName}}</a></h5>
                </div>
                {{#if this.isJoined}}
                  <div class="col-3">
                    <form action="/leave/{{this.project_id}}" method="GET">
                      <button class="btn btn-outline-danger">LEAVE</button>
                    </form>
                  </div>
                  {{else}}
                  <div class="col-3">
                    <form action="/join/{{this.project_id}}" method="GET">
                      <button class="btn btn-outline-success">JOIN</button>
                    </form>
                  </div>
                {{/if}}
                {{#if this.isOwner}}
                  <div class="col-3">
                    <form action="/project/{{this.project_id}}" method="GET">
                      <button class="btn btn-outline-primary">MANAGE</button>
                    </form>
                  </div>
                {{/if}} 
              </div> 
            {{/each}}
          {{else}}
            {{#each projects}}
              <div class="row mb-2">
                <div class="col-6">
                  <a href="/project/{{this.project_id}}">{{this.projectName}}</a>
                </div>
                <div class="col-3">
                  <form action="/auth/login" method="GET">
                    <button class="btn btn-outline-success">JOIN</button>
                  </form>
                </div>
              </div>
            {{/each}}
          {{/if}}
</div>
