<div class="container">
<div class="container">
  <div class="row" style="color: white;">
    <div class="col-sm-7">
      <h1 class="display-4" style="color: white">Data Counter</h1>
      <p style="color: white">Collaborate remotely to collect data about the things you care about.</p>
    </div>
    <div class="col-sm-5">  
      <img src="../images/map-with-points.png" alt="map" width="250px">
    </div>
  <div class="row">
    <div class="col">
    <button class="btn btn-warning ml-3 mt-2">Sign Up</button>
    </div>
  </div>
</div>
  
<hr>
<div class="contain">
  <div class="row mb-2">
    <div class="col-sm-12">
      <h4>Available Projects</h4>
    </div>
  </div>
          {{#if isConnected}}
            {{#each projects}}
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h5><a href="/project/{{this.project_id}}">{{this.projectName}}</a></h5>
                </div>
                {{#if this.isJoined}}
                  <div class="col-3">
                    <form action="/leave/{{this.project_id}}" method="GET">
                      <button class="btn btn-outline-danger">LEAVE</button>
                    </form>
                  </div>
                  {{else}}
                  <div class="col-3">
                    <form action="/join/{{this.project_id}}/home" method="GET">
                      <button class="btn btn-outline-success">JOIN</button>
                    </form>
                  </div>
                {{/if}}
                {{#if this.isOwner}}
                  <div class="col-3">
                    <form action="/project/{{this.project_id}}" method="GET">
                      <button class="btn btn-outline-primary">MANAGE</button>
                    </form>
                  </div>
                {{/if}} 
              </div> 
            {{/each}}
          {{else}}
            {{#each projects}}
              <div class="row mb-2">
                <div class="col-6">
                  <a href="/project/{{this.project_id}}">{{this.projectName}}</a>
                </div>
                <div class="col-3">
                  <form action="/auth/login" method="GET">
                    <button class="btn btn-outline-success">JOIN</button>
                  </form>
                </div>
              </div>
            {{/each}}
          {{/if}}
  </div>
</div>
